PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/purchaseflow
JWT_SECRET=supersecret_purchaseflow_jwt_key_2026_production_academic_secure
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
NODE_ENV=development
